.imagen{
  display: grid;
  place-content: center;
}

.container_logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-input-field);
  margin-bottom: 28px;
}

.subtitle span a{
  color: var(--hospital-green);
}