.submit_button {
  margin-top: 12px;
}

.label_secondary{
  margin-top: 22px;
  font-size: var(--sm);
  color: var(--hospital-green);
  display: flex;
  justify-content: center;
  align-items: center;
}